{{#each games as |game|}}

  <div id="group-{{game.id}}" class="container">
    <h3> <small>ID: {{game.id}}</small></h3>
    <div id="board-{{game.id}}" class="cont-small"> </div>
    {{#if game.status}}
      <button id="view-{{game.id}}" data-id="{{game.id}}" class='btn btn-danger'> View </button>
    {{else}}
      <button id="view-{{game.id}}" data-id="{{game.id}}" class='btn btn-danger'> Play </button>
    {{/if}}
    <button id="remove-{{game.id}}" data-id="{{game.id}}" class='btn btn-danger'> Delete </button>
  <br />
  <br />
  </div>

{{/each}}
